.green-btn {
    background: #188038;
    
  }
  .blue-btn {
    background: #1a1880;
  }
  .black-btn {
    background: #1d1d1d;    
  }
  
  .btn{
      color: white;
      font-weight: 700;
      font-size: 14px;
      border:none;
      cursor: pointer; 
      border-radius: 4px;
      font-size: 14px;
      padding: 10px 20px;
      text-transform: capitalize;
      text-decoration:none;
      margin:0px 4px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.377);
  }
  .btn:hover{
      filter: saturate(100%) contrast(180%);   
  }
  
  .optionsRow {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background: rgb(238, 238, 238);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width:100vw;
  }

  /* media query */

  @media (max-width:640px) {
    .optionsRow{
      flex-direction:column;
      align-items:center;
      gap: 10px;
    }
  }
  