.toogleContainer{
    display:flex;
    line-height:0px;
}
.toogleSet{
    display:inherit;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
}
.toogleTitle{
    font-weight: 800;
}
.toogleSet div:nth-child(2){
    display:inherit;
    align-items:center;
}

.toogleButtons{  
    padding:10px;    
    background:rgb(112, 112, 112);
    border-radius:2px;
    cursor:pointer;     
    /* border:none; */
}
 